.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
   
}

.photos img {
  max-width: 100%;       
  height: auto; /* Preserves the aspect ratio */
  width: 85.4%;
  /* box-shadow: 0 4px 6px rgba(215, 207, 207, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
}
.para1{
  background-color: rgb(200, 225, 247);
}
.photos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* margin-top: -10px; */
}

.photos1 img {
  max-width: 100%;       
  height: auto; /* Preserves the aspect ratio */
  width: 85.4%;

 /* margin-top: %; */
  /* box-shadow: 0 4px 6px rgba(215, 207, 207, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); */
}
.para1{
  background-color: rgb(200, 225, 247);
}
@media (min-width: 320px) and (max-width: 767px) {
  .photos img {
   max-width: 100%;
   width: 100%;
   height: 330px;
    /* background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
  }
  .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
   
  }
  .photos1 img {
    max-width: 100%;
    width: 100%;
    height: 300px;
     /* background-color: white;
     box-shadow: 0 5px 15px rgba(0, 0, 0, .5); */
   }
   .photos1 {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
    
   }
   
  .para1{
    background-color: rgb(200, 225, 247);
  }
}
